@tailwind base;

@layer base {
  [data-mode="light"] {
    --color-primary: #d0c3ff;
    --color-secondary: #ffe4ff;
    --color-acent: #1b1833;
    --color-grey-light: #e2e2e2;
    --color-grey-dark: #77767c;
    --color-info: #3ABFF8;
    --color-success: #36D399;
    --color-error: #FBBD23;
    --color-warning: #F87272;
  }

  [data-mode="dark"] {
    --color-primary: #140f07;
    --color-secondary: #19294f;
    --color-acent: #8b9afa;
    --color-grey-light: #77767c;
    --color-grey-dark: #e2e2e2;
    --color-info: #3ABFF8;
    --color-success: #36D399;
    --color-error: #FBBD23;
    --color-warning: #F87272;
  }
}